<!-- app.component.html -->
<p-toast></p-toast>

<header>
  <h1>{{ title }}</h1>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>

      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <li>
          <a routerLink="/auth/login" routerLinkActive="active-link">Login</a>
        </li>
        <li>
          <a routerLink="/auth/register" routerLinkActive="active-link"
            >Register</a
          >
        </li>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async">
        <li>
          <a routerLink="/articles" routerLinkActive="active-link"
            >Gestion des articles</a
          >
        </li>

        <li *ngIf="isAdmin$ | async">
          <a routerLink="/admin" routerLinkActive="active-link"
            >Admin Dashboard</a
          >
        </li>
        <li class="notification-bell-item">
          <p-button
            type="button"
            icon="pi pi-bell"
            class="p-button-rounded p-button-text notification-bell-button"
            (click)="toggleNotificationPopover($event)"
            pBadge
            [value]="(unreadCount$ | async) || ''"
            [severity]="
              (unreadCount$ | async) && (unreadCount$ | async)! > 0
                ? 'danger'
                : null
            "
          >
          </p-button>
        </li>
        <li>
          <button (click)="logout()">Logout</button>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>

<main class="container-app">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© 2025 Blog Collaborator Platform</p>
</footer>

<app-notification-popover #notificationPopover></app-notification-popover>
